.well.sidebar-nav
	ul.nav.nav-list
		li.nav-header Courses
		li.active
			a(href='#') PHARM 517
		li
			a(href='#') PHARM 525
		li.nav-header Practicum
		li
			a(href='#') Overview
		li
			a(href='#') Requirements
		li
			a(href='#') Tips for Success
		li
			a(href='#') Contacts
		li.nav-header Administrative
		li
			a(href='#') Student Handbook
		li
			a(href='#') Forms
		li.nav-header Job Postings
		li
			a(href='#') Link
		li
			a(href='#') Link
		li
			a(href='#') Link