!!! 5
html(lang='en')
head
		meta(charset='utf-8')
		title Bootstrap, from Twitter
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='')

		link(href='components/bootstrap/css/bootstrap.css', rel='stylesheet')
		style(type='text/css')
			body {
			padding-top: 60px;
			padding-bottom: 40px;
			}
			.sidebar-nav {
			padding: 9px 0;
			}
		link(href='components/bootstrap/css/bootstrap-responsive.css', rel='stylesheet')

		link(rel='apple-touch-icon-precomposed', sizes='144x144', href='components/bootstrap/ico/apple-touch-icon-144-precomposed.png')
		link(rel='apple-touch-icon-precomposed', sizes='114x114', href='components/bootstrap/ico/apple-touch-icon-114-precomposed.png')
		link(rel='apple-touch-icon-precomposed', sizes='72x72', href='components/bootstrap/ico/apple-touch-icon-72-precomposed.png')
		link(rel='apple-touch-icon-precomposed', href='components/bootstrap/ico/apple-touch-icon-57-precomposed.png')
		link(rel='shortcut icon', href='components/bootstrap/ico/favicon.png')
	body
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container-fluid
					a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand(href='#') Project name
					.nav-collapse.collapse
						p.navbar-text.pull-right
							a.navbar-link(href='https://www.washington.edu/') University of Washington
						ul.nav
							li.active
								a(href='#') Home
							li
								a(href='#about') About
							li
								a(href='#contact') Contacts
		.container-fluid
			.row-fluid
				.span3
					include includes/sidebar
				.span9
					include includes/hero
					.row-fluid
						include includes/bottom

						
		script(src='components/jquery/jquery.js')
		script(src='components/bootstrap/js/bootstrap.js')